html{
    scroll-behavior: smooth;
}

body {
    font-family:'Times New Roman', Times, serif;
    width: auto;
    margin: 0 auto;
    background-color: #05162e;
    position: relative;   
}

#about{
    scroll-margin-top: 115px;
}

#projects, #contact{
    scroll-margin-top: 70px;
}

#home, #skills{
    scroll-margin-top: 140px;
}


.nav-bar{
    position: sticky;
    top: 0px;
    z-index: 1;
    margin: 0 auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.229);
    padding: 5px 20px 5px 20px;
    background-color: #05162e;
    max-height: 70px;
}

.navbar-start {
    /* border: 2px solid white; */
    width: 102px;    
    padding: 0 10px;

}

.navbar-start h3{
    margin-top: 18px;
    margin-bottom: 5px;
}

.navbar-center{
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
}

.nav-li{
    margin: 14px;
    list-style: none;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    width: 115px;
    height: 41px;
    align-content: center;
    background-color: rgb(90, 193, 157);
    transition: transform 0.2s ease;
}

.nav-li:hover{
    background-color: rgb(80, 228, 176);
    transform: scale(1.03);
}

.nav-li a{
    display: flex;
    justify-content: space-around;
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 22.5px;
    font-weight: 500;
}

#navbar-end{
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-bar{
    display: none;
}

#light-btn{
    height: 45px;
    width: 49px;
    background-color: rgb(140, 201, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#light-btn:hover{
    transform: rotate(180deg);
}


h2{
    /* color: rgb(212, 215, 217); */
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
}

h1{
    color: rgb(90, 193, 157);
    /* padding-bottom: 5px; */
    font-size: 2.1rem;
    margin-bottom: 0;
    /* margin-top: 20px; */
}

p{
    color: rgb(173, 176, 177);
    font-size: 22px;
    font-weight: 500;
    list-style: none;
    line-height: 1.7;
}

.hero-sect{
    padding: 90px 60px 100px 60px;
    /* border: 2px solid  pink; */
}

.hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 350px auto;
    width: 90%;
    margin: auto;
}

.small-text{
    font-size: 15px;
    margin-top: 0;
    color: rgba(90, 193, 157, 0.926);
    /* border: 2px solid blue; */
}

.hero-content{
    /* border: 2px solid white; */
    width: 90%;
}

.hero-text{
    padding: 0px 20px 35px 15px;
}

.hero-name h2{
    margin-bottom: 0;
}

.move{
    transform: translateX(125px);
    width: 50%;
}

.hero-intro p{
    margin-top: 15px;
}


.hero-btn{
    /* border: 2px solid white; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    width: 90%;
}

.hero-btn p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero-btn i{
    font-size: 11px;
}

.hero-button{
    /* border: 2px solid blue; */
    padding-left: 5px;
}

.hero-button button{
    width: 190px;
    height: 48px;
    border: none;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(90, 193, 157);
    margin-right: 60px;
    transition: transform 0.2s ease;
}

.hero-button button:hover{
    background-color: rgb(80, 228, 176);
    transform: scale(1.03);
}

.hero-button a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

#hero-image{
    /* border: 2px solid pink; */
    width: 360px;
    justify-self: end;
}

#hero-image img{
    box-shadow: 3px 5px 15px 5px rgb(51, 51, 99);
    border-radius: 50%;  
    /* border: 2px solid blue;   */
}

.main-container{
    padding: 10px 0px;
    /* border: 4px solid green; */
}

.about-container{
    /* margin-top: 20px; */
    padding-top: 15px;
    padding-bottom: 60px;
    /* border: 2px solid blueviolet; */
    background-color: rgba(51, 51, 99, 0.353);
}

.about-text{
    /* border: 2px solid white; */
    padding: 10px 20px;
    width: 70%;
    margin: auto;
    text-align: center;
}

.about-text h2{
    padding-bottom: 15px;
}

.about-text a{
    color: rgb(173, 176, 177);
}

.about-text a:hover{
    color: rgb(90, 193, 157);
}

.stats-container{
    /* border: 2px solid pink; */
    display: flex;
    justify-content:space-between;
    width: 40%;
    margin: auto;
    padding: 15px 20px;
}

.stats-card{
    background-color: rgba(78, 203, 159, 0.307);
    box-shadow: 0 0 4px 1px rgb(18, 235, 159);
    border-radius: 15%;
    height: 143px;
    width: 110px;
    padding: 0px 20px 10px 20px;
    text-align: center;
    align-items: center;
}

.stats-card h3{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 30px;
}

.stats-card p{
    color: white;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    margin-top: 8px;
}

h3{
    font-size: 22px;
    color: rgb(212, 215, 217);
    font-weight: 700;
}

.icons-container{
    margin-top: 65px;
    margin-bottom: 100px;
    /* border: 2px solid white; */
}

.icons{
    /* border: 2px solid rgb(229, 17, 17); */
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 0px 30px 0px 30px;
}

.icons h2{
    /* padding-top: 30px; */
    padding-bottom: 40px;
}

.icons-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 25px;
    color: white;
    padding-left: 0;  
}

.s-lists{
    list-style: none;
    font-size: 20px;
    /* border: 2px solid yellow; */
    height: 210px;
    width: 190px;
    padding-top: 30px;
    background-color: rgba(78, 203, 159, 0.307);
    box-shadow: 0 0 9px rgb(18, 235, 159);
    border-radius: 15%;
    transition: 0.2s ease 0.2s;
}

.s-lists:hover{
    transform: translateX(-15px)  translateY(-30px);
    box-shadow: 5px 8px 15px 4px rgb(78, 203, 159);
}

.tail{
    height: 110px;
}

.s-lists span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 20px;
}

.projects-container{
    /* border: 2px solid wheat; */
    /* margin-top: 100px; */
    padding: 40px 0;
    background-color: rgba(51, 51, 99, 0.353);
    text-align: center;
}

.projects-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    /* border: 2px solid blueviolet; */

}

.projects-cards{
    /* border: 2px solid yellow; */
    background-color: rgba(78, 203, 159, 0.307);
    height: auto;
    width: 540px;
    border-radius: 27px;
    text-align: center;
    padding: 10px 20px;
    margin: 25px;
    box-shadow: 0 0 9px rgb(18, 235, 159);
}

.projects-cards p{
    /* border: 2px solid floralwhite; */
    max-width: 95%;
    margin: auto;
    padding: 15px 0px;
}

.projects-img img{
    width: 95%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.projects-button{
    /* border: 2px solid black; */
    padding: 20px 0px 30px 0px;
    display: flex;
    justify-content: space-evenly;
    /* transform: 0.2s ease; */
    transition: background-color 0.2s ease;
}

.p-btn{
    width: 170px;
    height: 40px;
    background-color: rgb(90, 193, 157);
    border-radius: 15px;
    border-style: none;
    /* rgba(32, 74, 58, 0.684) */
    box-shadow: 0px 0px 3px 1px rgba(51, 51, 99, 0.658);
    
}

.p-btn:hover{
    background-color: rgb(80, 228, 176);
    transform: scale(1.03);
}

.p-btn a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 18px;
    font-weight: 600;
}

.projects-skills h3{
    font-size: 20px;
}

.proj-skills-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5px 40px;
    margin: 5px 0px;
    padding: 5px 0px;
}

.projects-skills img{
    height: 30px;
    width: 34px;
}

.get-in-touch-cont{
    /* border: 2px solid white; */
    margin-bottom: 60px;
    padding: 10px;
}

.get-intouch-headline{
    padding: 20px;
    text-align: center;
    /* border: 2px solid yellow; */
}

.contact-form{
    background-color: rgba(78, 203, 159, 0.307);
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 550px);
    justify-content: center;
    align-items: center;
    /* border: 2px solid khaki; */
    max-width: 1110px;
    margin: auto;
    gap: 13px 10px;
    padding: 20px;
    border-radius: 15px;
}

#full-name, #email, #subject, #message, .form-btn{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
}

#message{
    padding-top: 15px;
}

#full-name, #email, #subject, .form-btn{
    height: 45px;
}

.subject, .msg, .form-btn{
    grid-column: 1 / -1;
}

.footer{
    background-color: rgba(51, 51, 99, 0.353);
    height: auto;
    text-align: center;
    /* border: 2px solid white; */
    padding-top: 10px;
}

.footer-container{
    /* border: 2px solid yellow; */
    width: 60%;
    margin: auto;
    
}

/* Carattere */
.initials{
  font-family: "Carattere", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: rgb(90, 193, 157);
  /* border: 2px solid white; */
  margin-bottom: 0;
}

.greet{
    /* border: 2px solid green; */
    /* font-size: 18px; */
    margin-bottom: 12px;
}

.connect{
    /* border: 2px solid black; */
    color: rgb(90, 193, 157);

    font-size: 21px;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 600;
}

.footer-link-cont{
    /* border: 2px solid darkcyan; */
    margin-bottom: 25px;
}


.footer-links{
    /* border: 2px solid pink; */
    width: 120px;
    margin: 5px auto;
    padding: 8px 4px 8px 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.footer-links a{
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 8px;

    text-decoration: none;
}

.footer-icons{
    /* color: rgb(12, 120, 82); */
    /* border: 2px solid blueviolet; */
    color: rgb(9, 99, 68);
    font-size: 41px;
    transition: color 0.2s ease, transform 0.2s ease;

}

.footer-icons:hover{
    color: rgb(19, 162, 114);
    transform: scale(1.08);
}

.copy-right{
    border-top: 1px solid rgb(12, 120, 82);
    width: 85%;
    margin: 0px auto;
    padding: 5px 0;
}

.copy-right p{
    font-size: 17px;
}



/* 4k-large Desktop size */
@media screen and (min-width:1441px) and (max-width:2560px) {

     /* hero section */
    /* .hero{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 420px auto;
        align-items: center;
        width: 80%;
        margin: auto;
    } */

    /* .hero-sect{
        padding: 80px 20px 75px 20px;
    }
    .hero-content{
        width: 95%;
    }
    .hero-text{
        padding: 20px;
    }
    .hero-btn{
        width: 500px;
        padding-left: 20px;
    }

    .hero-button button{
        margin-right: 70px;
    } */

    /* #hero-image{
        height: 480px;
        width: 370px;
        padding-top: 65px;
    }

    #hero-image img{
        height: 480px;
        width: 370px;
    } */

    /* about section */
    /* .stats-container{
        width: 30%;
    } */

     /* skills section */
    /* .icons{
        width: 90%;
    } */

    /* .icons-lists{
        gap: 60px;
    } */

     /* projects section */
    /* .projects-cont{
        gap: 30px;
    } */

    /* contact section */
    /* .contact-form{
        grid-template-columns: repeat(2, 950px);
        max-width: 1945px;
        width: 90%;
        height: 340px;
        gap: 20px;
    
    } */

}



/* regular Laptop size */
@media screen and (min-width:779px) and (max-width:1024px) {
    h2{
        font-size: 2rem;
    } 

    h1{
        font-size: 2.8rem;
    }

    p{ 
        font-size: 24px;
    } 


    #about{
        scroll-margin-top: 69px;
    }

    #projects, #contact{
        scroll-margin-top: 70px;
    }

    #skills{
        scroll-margin-top: 130px;
    }

    /* nav section */
    .navbar-start .initials{
        font-size: 2.2rem;
    }
    
    .nav-bar{
        padding-left: 10px;
        padding-right: 10px;
        max-height: 58px;
    }
    .navbar-start{
        width: auto;
        padding-right: 5px;
    }
    .navbar-start h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-li{
        width: 122px;
        margin: 7px;
        height: 43px;
        padding: 0px 10px;
    }
    .nav-li a{
        font-size: 23px;
    }

    #navbar-end{
        padding-top: 4px;
        padding-left: 5px;
    }
    
    #light-btn i{
        font-size: xx-large;
    }

    #light-btn{
        height: 49px;
        width: 51px;
    }

    /* hero section */
    .small-text{
        font-size: 18px;
    }
    .hero{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 400px auto;
        align-items: center;
        width: 95%;
        margin: auto;
    }

    .hero-sect{
        padding: 65px 20px 75px 20px;
    }
    .hero-content{
        width: 95%;
    }
    .hero-text{
        padding: 5px;
    }
    .hero-btn{
        width: 480px;
        padding-left: 0px;
    }

    .hero-button button{
        margin-right: 40px;
    }

    #hero-image{
        height: 420px;
        width: 320px;
    }

    #hero-image img{
        height: 420px;
        width: 320px;
    }

     /* about section */
    .about-text{
        width: 85%;
    }
    .stats-container{
        width: 60%;
    }

    /* skills section */
    .icons{
        width: 90%;
    }

    /* projects section */
    .projects-cards:nth-child(2){
        height: 810px;
    }

    /* contact section */
    .contact-form{
        width: 80%;
        grid-template-columns: repeat(2, 395px);
    }

}


/* Tablet size*/
/* (min-width:768px) and (max-width:990px) */
@media screen and (min-width:426px) and (max-width:778px) {

    h2{
        font-size: 1.6rem;
    } 

    h1{
        font-size: 1.8rem;
    }

    p{ 
        font-size: 19px;
    } 
   
   
    #about, #projects, #contact{
        scroll-margin-top: 65px;
    }

    #skills{
        scroll-margin-top: 130px;
    }

    /* nav section */
    .navbar-start .initials{
        font-size: 1.7rem;
    }
    
    .nav-bar{
        padding-left: 10px;
        padding-right: 10px;
        max-height: 45px;
    }
    .navbar-start{
        width: auto;
        padding-right: 5px;
    }
    .navbar-start h3{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nav-li{
        width: 80px;
        margin: 7px;
        height: 35px;
        padding: 0px 10px;
    }
    .nav-li a{
        font-size: 18px;
    }

    #navbar-end{
        padding-top: 3px;
        padding-left: 5px;
    }
    
    #light-btn i{
        font-size: x-large;
    }

    #light-btn{
        height: 39px;
        width: 41px;
    }

    /* hero section */
    .hero{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 360px auto;
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .hero-sect{
        padding: 35px 20px 75px 20px;
    }
    .hero-content{
        width: 100%;
    }
    .hero-text{
        padding: 5px;
    }
    .hero-btn{
        width: 420px;
        padding-left: 0px;
    }

    .hero-button button{
        margin-right: 40px;
    }

    #hero-image{
        height: 335px;
        width: 250px;
    }

    #hero-image img{
        height: 335px;
        width: 250px;
    }

    /* about section */
    .about-text{
        width: 87%;
    }
    .stats-container{
        width: 74%;
    }
    .stats-card h3{
        font-size: 35px;
    }

    /* skills section */
    .icons{
        width: 90%;
    }


    /* projects section */
    .projects-skills h3{
        font-size: 1.2rem;
    }    

    /* contact section */
    .contact-form{
        width: 85%;
        grid-template-columns: repeat(2, 312px);
    }

}


/* Big-Mobile screen */
/* (min-width:576px) */
/* (max-width:767.20px) */
@media screen and (min-width:376.50px) and (max-width:425.80px) {
    h2{
        font-size: 1.6rem;
    } 

    h1{
        font-size: 1.8rem;
    }

    p{ 
        font-size: 18px;
    } 
    
    /* nav section */
    .nav-bar{
        justify-content: space-between;
    }
    .navbar-center{
        display: none;
    }

    #navbar-end{
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        width: 110px;
        padding-top: 10px;
    }
    .menu-bar{
        display: block;
        font-size: 30px;
        margin-bottom: 10px;
        padding: 2px 10px;
        border-style: none;
        /* border: 1px solid rgba(90, 193, 157, 0.292); */
        background-color: rgba(90, 193, 157, 0.199);
    }

    /* hero section */
    .hero{
        display: flex;
        flex-direction: column;
    }

    .hero-sect{
        padding: 40px 20px 0px 20px;
        margin-bottom: 40px;
    }
    .hero-content{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .hero-text{
        padding: 0px;
    }

    #hero-image{
        height: 350px;
        width: 270px;
        justify-content: center;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        /* border: 2px solid pink; */
    }

    #hero-image img{
        height: 350px;
        width: 270px;
    }

    .hero-btn{
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0px;
        padding-top: 30px;
    }

    .hero-button button{
        margin-right: 0px;
    }

    .hero-btn p{
        width: 210px;
    }

    /* about section */
    .about-text{
        width: 90%;
    }
    .stats-container{
        width: 65%;
    }

    .stats-container{
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 27px;
        /* border: 2px solid pink; */
    }

    /* projects section */
    .projects-cont{
        gap: 25px;
    }

    .projects-cards:nth-child(2) {
        /* height: 875px; */
    }

    .projects-cards{
        height: auto;
        width: 365px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .projects-cards p{
        max-width: 98%;
        margin: 0;
    }

    .projects-img img{
        height: 250px;
        width: 365px;
    }

    .proj-skills-cont{
        gap: 10px 25px;
    }
    
    .projects-button{
        gap: 7px;
    }



    /* contact section */
    .contact-form{
        width: 88%;
        grid-template-columns: repeat(2, 178px);
    }

    .get-intouch-headline{
        padding: 0px;
    }

    /* footer section */
    .footer{
        height: auto;
    }
    .footer-container{
        width: 87%;
    }

}


/* M-Mobile screen */
/* (min-width:321px) */
/* (max-width:729px) */
@media screen and (min-width:321px) and (max-width:376px) {
    
    /* nav section */
    .navbar-center{
        display: none;
    }

    #navbar-end{
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        width: 110px;
        padding-top: 10px;
    }

    .menu-bar{
        display: block;
        font-size: 30px;
        margin-bottom: 10px;
        padding: 2px 10px;
        border-style: none;
        /* border: 1px solid rgba(90, 193, 157, 0.292); */
        background-color: rgba(90, 193, 157, 0.199);
    }

    /* hero section */
    .hero{
        display: flex;
        flex-direction: column;
        /* border: 2px solid white; */
    }

    .hero-sect{
        padding: 50px 10px 10px 10px;
        margin-bottom: 40px;
    }

    .hero-content{
        /* border: 2px solid pink; */
        width: 100%;
        margin: auto;
    }
    
    .move{
        width: 60%;
        transform: translateX(135px);

    }
    
    .hero-text{
        text-align: center;
        padding: 0px;
    }

    #hero-image{
        /* transform: translateX(85px) translateY(-120px); */
        width: 230px;
        padding-top: 16px;
        justify-content: center;
        margin: auto;
    }

    #hero-image img{
        height: 300px;
        width: 230px;
    }
    .hero-btn{
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0px;
        padding-top: 40px;
        margin: auto;
    }

    .hero-button button{
        margin-right: 0px;
    }
    .hero-btn p{
        padding-top: 5px;
        padding-left: 0px;
    }

    /* about section */
    .about-text{
        width: 90%;
        padding: 10px;
    }

    .icons-container{
        width: auto;
    }

    .stats-container{
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 26px;
        /* border: 2px solid pink; */
    }

    /* skills section */
    .s-lists{
        height: 200px;
        width: 180px;
    }
    .s-lists img{
        height: 120px;
    }
    .tail{
        height: 90px;
    }
    .icons-lists li:nth-child(4) img {
        width: 150px;
    }
    .icons-lists li:nth-child(5) img {
        width: 135px;
        height: 80px;
    }

    /* projects section */
    .projects-cont{
        gap: 25px;
    }

    .projects-cards:nth-child(2) {
        height: 875px;
    }

    .projects-cards{
        height: auto;
        width: 320px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .projects-cards p{
        max-width: 98%;
    }

    .projects-img img{
        height: 250px;
        width: 315px;
    }

    .proj-skills-cont{
        gap: 10px 20px;
    }
    
    .projects-button{
        flex-wrap: wrap;
        gap: 17px;
    }

    /* contact section */
    .get-intouch-headline{
        padding: 0px;
    }

    .get-in-touch-cont{
        padding: 0 17px;
    }

    .contact-form{
        grid-template-columns: repeat(2, 147px);
    }

    .f-name, .email{
        grid-column: 1 / -1;
    }


    /* footer section */
    .footer{
        height: auto;
    }
    .footer-container{
        width: 87%;
    }
    
}



/* X-Small Mobile screen */
/*  (max-width:320px) */
@media screen and (max-width:320px) {
    h3{
    font-size: 20px;
    }   

    h2{
        font-size: 1.5rem;
    } 

    h1{
        font-size: 2rem;
    }

    p{ 
        font-size: 20px;
    } 

    .initials{
        font-size: 1.8rem;
    }
    
    .navbar-start h3{
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .nav-bar{
        justify-content: space-between;
        padding: 5px;
        max-height: 50px;
    }
    .navbar-center{
        display: none;
    }

    #navbar-end{
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        width: 110px;
        padding-top: 5px;
        padding-right: 5px;
        width: 90px;
    }

    #light-btn{
        height: 36px;
        width: 39px;
    }

    #light-btn i{
        font-size: 1.5rem;
    }

    .menu-bar{
        height: 40px;
    }
    .menu-bar i{
        font-size: 1.7rem;
    }

    .menu-bar{
        display: block;
        font-size: 30px;
        margin-bottom: 10px;
        padding: 2px 10px;
        border-style: none;
        /* border: 1px solid rgba(90, 193, 157, 0.292); */
        background-color: rgba(90, 193, 157, 0.199);
    }

    /* hero section */
    .move{
        width: 60%;
        transform: translateX(105px);

    }
    .hero{
        display: flex;
        flex-direction: column;
    }

    .hero-sect{
        padding: 40px 12px 0px 12px;
        margin-bottom: 25px;
    }

    .hero-content{
        width: 100%;
    }
    .hero-text{
        text-align: center;
        padding: 0px;
    }

    #hero-image{
        width: 220px;
        padding-top: 20px;
        justify-content: center;
        margin: auto;
    }

    #hero-image img{
        height: 280px;
        width: 220px;
    }
    .hero-btn{
        width: 70%;
        flex-wrap: wrap;
        padding-left: 0px;
        padding-top: 40px;
        justify-content: center;
        margin: auto;
    }

    .hero-button button{
        margin-right: 0px;
    }

    .hero-btn p{
        padding-top: 4px;
        padding-left: 5px;
    }

    /* about section */
    .about-text{
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .stats-container{
        width: 50%;
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }
    .stats-card{
        height: 120px;
        width: 100px;
    }
    .stats-card h3{
    font-size: 30px; 
    }

    .stats-card p{
    font-size: 20px;
    }

    /* skills section */
    .s-lists{
        height: 160px;
        width: 160px;
    }
    .s-lists img{
        height: 90px;
    }
    .tail{
        height: 90px;
    }
    .icons-lists li:nth-child(4) img {
        width: 130px;
    }
    .icons-lists li:nth-child(5) img {
        width: 125px;
        height: 80px;
    }

    /* projects cards */
    .projects-cont{
        gap: 25px;
    }
    .projects-cards{
        height: auto;
        width: 265px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .projects-img img{
        height: 180px;
        width: 260px;
    }

    .proj-skills-cont{
        gap: 5px 20px;
        flex-wrap: wrap;
    }
    
    .projects-button{
        flex-wrap: wrap;
        gap: 17px;
    }


    /* contact section */
    .get-intouch-headline{
        padding: 0px;
    }

    .contact-form{
        grid-template-columns: repeat(2, 130px);  
    }

    .f-name, .email{
        grid-column: 1 / -1;
    }

    /* footer section */
    .footer{
        height: auto;
    }

}

