body {
    font-family:'Times New Roman', Times, serif;
    width: auto;
    /* margin: 0px 80px; */
    margin: 0 auto;
    background-color: #05162e;
    /* background-color: #0d1a2b; */
    position: relative;
    
}

.nav-bar{
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.229);
    padding: 5px 20px 5px 20px;
    background-color: #05162e;
    max-height: 90px;
}

#navbar-start {
    height:  92px;
    width: 92px;
}

#navbar-start img{
    height:  92px;
    width: 92px;
    border-radius: 50%;
    transition: transform 0.3s ease-in;
}

#navbar-start img:hover{
    margin-top: 20px;
    margin-left: 8px;
    transform: scale(1.40);
    filter: drop-shadow(0 0 8px rgb(90,193,157));
    border-radius: 70%;
}

.navbar-center{
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
}

.nav-li{
    margin: 14px;
    list-style: none;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    width: 95px;
    height: 45px;
    align-content: center;
    background-color: rgb(90, 193, 157);

}

.nav-li a{
    display: flex;
    justify-content: space-around;
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
}

#navbar-end{
    padding-top: 18px;
}

#light-btn{
    height: 47px;
    width: 50px;
    background-color: rgb(140, 201, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    /* margin-top: 15px; */
    /* padding-top: 20px; */
}

#light-btn:hover{
    transform: rotate(180deg);
}


h2{
    /* color: rgb(212, 215, 217); */
    color: white;
    font-weight: 500;
    font-size: 1.80rem;
}

h1{
    color: rgb(90, 193, 157);
    /* padding-bottom: 5px; */
    font-size: 2.1rem;
}

p{
    color: rgb(173, 176, 177);
    font-size: 22px;
    font-weight: 500;
    list-style: none;
    line-height: 1.7;
}

.hero-sect{
    padding: 90px 100px 100px 100px;
    /* border: 2px solid  pink; */
}

.hero{
    display: flex;
    justify-content: space-around;
}

.hero-content{
    /* border: 2px solid white; */
    width: 64%;
}

.hero-text{
    padding: 0px 15px 35px 15px;
}


.hero-btn{
    display: flex;
    padding-left: 15px;
}

.hero-button{
    width: 130px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(90, 193, 157);
    padding: 17px 20px 0px 20px;
    margin-right: 50px;
}

.hero-button a{
    color: rgb(8, 8, 8);
    font-size: 21px;
    text-decoration: none;
}

#hero-image img{
    box-shadow: 3px 5px 15px 5px rgb(51, 51, 99);
    border-radius: 50%;    
}

.main-container{
    /* margin: 0px 50px; */
    padding: 20px 0px;
    /* border: 4px solid green; */
}

.about-container{
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 50px;
    /* border: 2px solid blueviolet; */
    /* background-color: rgba(51, 51, 99, 0.401); */
    background-color: rgba(51, 51, 99, 0.353);
}

.about-cont{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.about-text{
    /* border: 2px solid white; */
    padding: 10px 20px;
    width: 70%;
    margin: auto;
    text-align: center;
}

.about-text h2{
    padding-bottom: 15px;
}

.stats-container{
    /* border: 2px solid pink; */
    display: flex;
    justify-content:space-between;
    width: 40%;
    margin: auto;
    padding: 15px 20px;
}

.stats-card{
    background-color: rgba(78, 203, 159, 0.307);
    box-shadow: 0 0 4px 1px rgb(18, 235, 159);
    border-radius: 15%;
    height: 143px;
    width: 110px;
    padding: 0px 20px 10px 20px;
    text-align: center;
    align-items: center;
    transition: 0.2s ease-in 0.2s;
}

.stats-card:hover{
    transform: translateX(-10px) translateY(-20px);
    box-shadow: 0 0 18px rgb(18, 235, 159);
}

.stats-card h3{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 30px;
}

.stats-card p{
    color: white;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    margin-top: 8px;
}

h3{
    font-size: 22px;
    color: rgb(212, 215, 217);
    font-weight: 700;
}

.icons-container{
    /* margin: 0px; */
    /* padding:0px; */
    /* border: 2px solid white; */
}

.icons{
    /* border: 2px solid rgb(229, 17, 17); */
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 0px 30px 0px 30px;
}

.icons h2{
    padding-top: 30px;
    padding-bottom: 40px;
}

.icons-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 25px;
    color: white;
    padding-left: 0;  
}

.s-lists{
    list-style: none;
    font-size: 20px;
    /* border: 2px solid yellow; */
    height: 210px;
    width: 190px;
    padding-top: 30px;
    background-color: rgba(78, 203, 159, 0.307);
    box-shadow: 0 0 9px rgb(18, 235, 159);
    border-radius: 15%;
    transition: 0.2s ease 0.2s;
}

.s-lists:hover{
    transform: translateX(-15px)  translateY(-30px);
    box-shadow: 5px 8px 15px 4px rgb(78, 203, 159);
}

.tail{
    height: 110px;
}

.s-lists span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 20px;
}

.projects-container{
    /* border: 2px solid wheat; */
    margin-top: 100px;
    padding: 45px 0;
    background-color: rgba(51, 51, 99, 0.353);
    text-align: center;
}

.projects-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    /* border: 2px solid blueviolet; */

}

.projects-cards{
    /* border: 2px solid yellow; */
    background-color: rgba(78, 203, 159, 0.307);
    height: 770px;
    width: 540px;
    border-radius: 27px;
    text-align: center;
    padding: 10px 20px;
    margin: 25px;
    box-shadow: 0 0 9px rgb(18, 235, 159);
}

.projects-cards p{
    /* border: 2px solid floralwhite; */
    max-width: 95%;
    margin: auto;
    padding: 15px 0px;
}

.projects-img img{
    width: 95%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.projects-button{
    /* border: 2px solid black; */
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    /* transform: 0.2s ease; */
    transition: background-color 0.2s ease;
}

.p-btn{
    width: 170px;
    height: 40px;
    background-color: rgb(90, 193, 157);
    border-radius: 15px;
}

.p-btn:hover{
    background-color: rgb(104, 220, 179);
    transform: translateY(-2px);
}

.p-btn a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 18px;
    font-weight: 600;
}

.projects-skills h3{
    font-size: 20px;
}

.proj-skills-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5px 40px;
    margin: 5px 0px;
    padding: 5px 0px;
}

.projects-skills img{
    height: 30px;
    width: 34px;
}

.get-in-touch-cont{
    /* border: 2px solid white; */
    margin-bottom: 60px;
    padding: 10px;
}

.get-intouch-headline{
    padding: 20px;
    text-align: center;
    /* border: 2px solid yellow; */
}

.contact-form{
    background-color: rgba(78, 203, 159, 0.307);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* border: 2px solid khaki; */
    max-width: 900px;
    margin: auto;
    gap: 10px 8px;
    padding: 20px;
    border-radius: 15px;
}

#full-name, #email, #subject, #message, .form-btn{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
}

#message{
    padding-top: 15px;
}

#full-name, #email, #subject, .form-btn{
    height: 45px;
}

.subject, .msg, .form-btn{
    grid-column: 1 / -1;
}

.footer{
    background-color: rgba(51, 51, 99, 0.353);
    height: 200px;
}




/* grid-template-columns: repeat(4, 250px); */
    /* grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)); */
    /* grid-template-rows: repeat(2, 1fr); */

