body {
    font-family:'Times New Roman', Times, serif;
    width: auto;
    /* margin: 0px 80px; */
    margin: 0px;
    background-color: #05162e;
    /* background-color: #0d1a2b; */
    position: relative;
    
}

.heading-sec{
    /* position: relative; */
    
}

.nav-bar{
    position: sticky;
    top: 0px;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 15px 80px 15px 80px;
    background-color: #05162e;
}

#navbar-start{
    /* font-size: larger;  */
}

#navbar-start img{
    border-radius: 70px;
}

.navbar-center{
    display: flex;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
}

.nav-li{
    margin: 14px;
    list-style: none;
    border: 2px solid;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    width: 95px;
    height: 45px;
    align-content: center;
    background-color: rgb(90, 193, 157);

}

.nav-li a{
    display: flex;
    justify-content: space-around;
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
}

#navbar-end{
    margin-top: 18px;
    margin-right: 7px;
}

#light-btn{
    height: 47px;
    width: 50px;
    background-color: rgb(180, 180, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 15px;
}

#light-btn:hover{
    transform: rotate(180deg);
}

.hero{
    margin-top: 20px;
    padding-top: 70px;
}

h2{
    color: rgb(212, 215, 217);
    font-weight: 700;
}

h1{
    color: rgb(90, 193, 157);
}

p{
    color: rgb(173, 176, 177);
    font-size: 22px;
    font-weight: 500;
}

.hero-sect{
    padding: 0px 180px 100px 180px;
}

.hero{
    display: flex;
    justify-content: space-around;
}

.hero-content{
    /* border: 2px solid white; */
    width: 54%;
}

.hero-text{
    padding: 0px 15px 40px 15px;
}


.hero-btn{
    display: flex;
    padding-left: 15px;
}

.hero-button{
    width: 130px;
    height: 45px;
    border: 2px solid;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(90, 193, 157);
    padding: 17px 20px 0px 20px;
    margin-right: 50px;
}

.hero-button a{
    color: rgb(8, 8, 8);
    font-size: 21px;
    text-decoration: none;
}

#hero-image img{
    box-shadow: 3px 5px 15px 5px rgb(51, 51, 99);
    border-radius: 50%;    
}

.icons-lists{
    display: flex;
    justify-content: space-between;
    color: white;
}

.s-lists{
    list-style: none;
    font-size: larger;
}

.s-lists span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.small-icons{
    /* display: flex; */
    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
}


.about-container{
    /* display: flex; */
    /* justify-content: center; */
}

.about-cont{
    
    justify-content: center;
}